.btn {
    margin-left: auto;
    width: 8rem;
    height: 3.5rem;
    background-color: $color-accent-purple;
    border-radius: 0.6rem;
    border: none;
    color: $color-white;
    font-size: $font-size-main;

    &:hover {
        cursor: pointer;
    }
}
