.btn {
    margin-left: auto;
    width: auto;
    padding: 1rem 2rem;
    background-color: $color-accent-purple;
    border-radius: $border-radius-very-small;
    border: none;
    color: $color-white;
    font-size: $font-size-main;

    &:hover {
        cursor: pointer;
        background-color: $color-accent-active;
    }

    &-light {
        background-color: $color-accent-purple-light;
        color: $color-accent-purple;
        font-weight: $font-weight-heavy;
        font-size: $font-size-small;
        width: auto;
        padding: 1rem 3rem;
        &:hover {
            background-color: $color-accent-purple;
            color: $color-white;
        }
    }

    &-load {
        margin-right: auto;
        width: 14rem;
        height: 5rem;
    }
}
