.card {
    display: grid;
    align-items: start;
    width: 30%;
    min-height: auto;
    background-color: $color-white;
    margin-bottom: 6rem;
    border-radius: $border-radius-small;
    padding: 0 3rem 4rem 3rem;

    @include respond(tab-port) {
        width: 47%;
    }

    &__logo {
        position: relative;
        top: -40%;
        background-image: url('https://res.cloudinary.com/kreiva/image/upload/v1655102872/DevJobsApp/creative_cdv7ub.svg');
        background-color: rgb(74, 31, 65);
        background-repeat: no-repeat;
        background-position: center;
        width: 6rem;
        height: 6rem;
        border-radius: 33%;

        @include respond(tab-port) {
            width: 8rem;
            height: 8rem;
            top: -40%;
        }
    }
    &__text-group {
        display: flex;
        margin-bottom: 0.8rem;
    }
}
