.checkbox {
    width: 2rem;
    height: 2rem;
    background-color: $color-background-darker-gray;
    margin-right: 1rem;
    border-radius: 0.2rem;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        cursor: pointer;
    }
}
