.input {
    color: $color-background-light-gray;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: $font-size-main;
    color: $color-black;

    &-title {
        width: 45%;
        background-image: url('https://res.cloudinary.com/kreiva/image/upload/v1655102840/DevJobsApp/icon-search_xdv0bc.svg');
        background-repeat: no-repeat;
        background-position: 0% 50%;
        padding-left: 4rem;
        overflow: hidden;
    }
    &-location {
        width: 35%;
        background-image: url('https://res.cloudinary.com/kreiva/image/upload/v1655102840/DevJobsApp/icon-location_ofhuzm.svg');
        background-repeat: no-repeat;
        background-position: 3% 50%;
        padding-left: 4rem;
        overflow: hidden;
    }
    &-submit {
        padding-left: 1rem;
        width: 15%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__dropdown {
        position: absolute;
        right: 47rem;
        top: 9rem;
        background-color: $color-white;
        padding: 1rem 4rem;

        &-row {
            width: 100%;
            font-family: inherit;
            font-size: $font-size-main;
            color: $color-background-dark-gray;
            list-style: none;
            margin-bottom: 1.5rem;

            &:hover {
                cursor: pointer;
                color: $color-accent-purple;
            }
        }
    }
}
