.logo {
    width: 15%;
    height: 20%;
    background-image: url('https://res.cloudinary.com/kreiva/image/upload/v1655102842/DevJobsApp/logo_z3mgpp.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
