.text {
    &-title-big {
        color: $color-black;
        font-size: $font-size-very-big;
        font-weight: $font-weight-heavy;
        margin-bottom: 1rem;
    }
    &-title-very-big {
        color: $color-black;
        font-size: $font-size-huge;
        font-weight: $font-weight-heavy;
        margin-bottom: 0.8rem;
    }

    &-bold {
        color: $color-black;
        font-size: $font-size-medium;
        font-weight: $font-weight-heavy;
    }
    &-bold-big {
        color: $color-black;
        font-size: $font-size-big;
        font-weight: $font-weight-heavy;
        margin-bottom: 0.8rem;
    }
    &-black {
        color: $color-black;
        font-size: $font-size-main;
    }
    &-gray {
        color: $color-background-dark-gray;
        font-size: $font-size-medium;
    }
    &-gray-big {
        color: $color-background-dark-gray;
        font-size: $font-size-big;
    }
    &-purple {
        margin-top: 4rem;
        color: $color-accent-purple;
        font-size: $font-size-small;
        font-weight: $font-weight-heavy;
    }
    &-purple-nomargin {
        color: $color-accent-purple;
        font-size: $font-size-small;
        font-weight: $font-weight-heavy;
    }
    &-dot {
        margin: 0 1rem;
        font-weight: $font-weight-heavy;
    }
    &-link {
        &:hover {
            cursor: pointer;
        }
    }
    &-star {
        color: $color-accent-purple;
        font-weight: $font-weight-heavy;
        font-size: $font-size-big;
        margin-right: 3rem;
    }
    &-block {
        line-height: 3rem;
        margin-bottom: 3.5rem;
    }
    &-list {
        margin-bottom: 2rem;
    }
}
