.theme-switch {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    :hover {
        cursor: pointer;
    }

    &__sun {
        width: 20%;
        height: 100%;
        background-image: url('https://res.cloudinary.com/kreiva/image/upload/v1655102842/DevJobsApp/icon-sun_kosgz4.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    &__moon {
        width: 20%;
        height: 100%;
        background-image: url('https://res.cloudinary.com/kreiva/image/upload/v1655102840/DevJobsApp/icon-moon_l1ltzz.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    &__bar {
        z-index: 10;
        width: 5.5rem;
        height: 2.5rem;
        background-color: $color-white;
        border-radius: 2rem;
        margin: 0 1.5rem;
        padding: 0.3rem 0.4rem;

        &-circle {
            z-index: 99;
            background-color: $color-accent-purple;
            width: 45%;
            height: 100%;
            border-radius: 100%;
        }
    }
}
