$font-size-big: 1.8rem;
$font-size-main: 1.6rem;
$font-size-medium: 1.4rem;
$font-size-small: 1.2rem;

$font-weight-heavy: 700;
$font-weight-light: 400;

$color-background-light-gray: #f5f6f8;
$color-background-darker-gray: #e8e8ea;
$color-background-dark-gray: #a0a0a0;
$color-accent-purple: #5964e2;
$color-white: white;
$color-black: black;
