.header {
    width: 100%;
    height: 28vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab-land) {
        height: 20vh;
    }
    @include respond(tab-port) {
        height: 18vh;
    }
    @include respond(phone) {
        height: 15vh;
    }

    &-top {
        z-index: 1;
        width: 100%;
        height: 100%;
        background-image: url('https://res.cloudinary.com/kreiva/image/upload/v1655102840/DevJobsApp/bg-pattern-header_uru1ev.svg');
        background-repeat: no-repeat;
        background-size: cover;

        &__container {
            width: 70vw;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
        }
    }
    &-search {
        position: absolute;
        z-index: 99;
        width: 70vw;
        height: 13vh;
        top: 20vh;
        background-color: $color-white;
        border-radius: 1rem;
        padding: 3rem;
        display: flex;
        justify-content: space-between;
    }
}
