.main {
    width: 70vw;
    height: auto;
    display: flex;
    padding: 13rem 0rem 3rem 0rem;
    justify-content: flex-start;
    gap: 5%;
    flex-wrap: wrap;

    @include respond(tab-land) {
        width: 80vw;
        padding: 10rem 0rem;
    }

    @include respond(phone) {
        width: 100vw;
        padding: 18rem 5rem;
    }

    &-job {
        display: flex;
        flex-direction: column;
        width: 50vw;
        height: auto;
    }
    &-footer {
        position: relative;
        margin-top: 10rem;
    }
}
